<% if @page.images.any? %>
<div class="blurred-container">
  <div class="img-src" style="background-image: url('<%= @page.images.first.url%>')"></div>
  <div class="img-src blur" style="opacity: 0; background-image: url('<%= @page.images.first.url if @page.images.any? %>');"></div>
</div>
<% end %>
<div class="main internal-page-content">
  <div class="space"></div>
  <div class="container tim-container">
    <div class="row">
      <div class="col-md-7">
        <%= raw @page.content_for(:body) %>
      </div>
      <div class="col-md-5">
        <%= raw @page.content_for(:side_body) %>
      </div>
    </div>
  </div>
</div>
