html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
  // background:#ddd;
  h1, h2{font-family: 'Cinzel', serif;}
  img{max-width:100%;}
}

// body, #page_container, #page{width:100%; margin:0; padding:0; }

.navbar-brand{
  margin-top: 0;
  margin-bottom: 0;
  background: #ffffff;
}

.navbar-transparent .navbar-brand {
  position:relative;
  top: -10px;
  background:none;
}

nav.navbar.navbar-transparent{ background:rgba(0,0,0,0.7); }
nav.navbar.navbar-transparent a.navbar-brand:hover{ background:none; }

nav.navbar:not(.navbar-transparent).navbar-ct-red a.navbar-brand{ background:#000000; }
nav.navbar:not(.navbar-transparent).navbar-ct-red{ background-color:#fd0326; }

.space.mobile-space{
  display:none;
  height: 85px;
}

.three-image-links a{
  color:#333333;
  img{box-shadow: 3px 3px 5px #888888;}
}

@media (max-width: 768px) {
  .space.mobile-space{display:block;}
  .carousel-indicators{display:none;}
  .navbar-transparent a.navbar-brand {
    height:50px;
    &:hover{ background:#000000; }
  }
}

footer{ margin-top:50px; }