body{
  h1, h2{font-family: 'Cinzel', serif;}
  img{max-width:100%;}
  #carousel,
  .carousel-inner{margin-right:auto; margin-left:auto;}
}

.three-image-links a{
  color:#333333;
  img{box-shadow: 3px 3px 5px #888888;}
}
nav.navbar{ background:rgba(0,0,0,0.7); }


.space.mobile-space{
  display:none;
  height: 85px;
}

@media (max-width: 768px) {
  .space.mobile-space{display:block;}
  .carousel-indicators{display:none;}
}
