html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
  h1, h2{font-family: 'Cinzel', serif;}
  img{max-width:100%;}
}

.navbar-brand{
  position:relative;
  top:5px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 7px 15px;
  background: #ffffff;
}

.navbar-transparent .navbar-brand {
  background:none;
  top:0;
}

nav.navbar.navbar-transparent{ background:rgba(0,0,0,0.7); }
nav.navbar.navbar-transparent a.navbar-brand:hover{ background:none; }

nav.navbar:not(.navbar-transparent).navbar-ct-red a.navbar-brand{ background:#000000; }
nav.navbar:not(.navbar-transparent).navbar-ct-red{ background-color:#fd0326; }

.space.mobile-space{
  display:none;
  height: 85px;
}

#carousel{ box-shadow: 0px 2px 5px #888888; }

.three-image-links a{
  color:#333333;
  img{box-shadow: 3px 3px 5px #888888;}
  &:hover img{box-shadow: 3px 3px 6px #444444;}
}

.internal-page-content img{
  display:block;
  margin:15px auto;
  border-radius: 3px;
}
@media (max-width: 768px) {
  .space.mobile-space{display:block;}
  .carousel-indicators{display:none;}
  nav.navbar.navbar-transparent{ background:#333333; }
  .navbar-transparent a.navbar-brand {
    height:50px;
    &:hover{ background:#000000; }
  }
}

footer{ margin-top:50px; }